@mixin for_label {
  position: absolute;
  top: 50%;
  border-radius: 0;
  text-align: center;
}

@mixin flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

$border: 1px red solid;

@media (max-width: 767px) {
.slides > input,.slides > label {
  display: none;
}
#second_slide,.slide_text {
  display: none;
 }
}

@media (min-width: 768px) {

  .large_container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
  }
  .header {
    justify-content: space-between;
    align-items: flex-end;
  }
  .header_menu {
    width: 50%;
  }

  .header_logo {
    width: auto;
    max-width: 50%;
  }

  .logo {
    background: none;
  }

  .menu {
    box-shadow: -5px -4px 0 0 rgba(245, 197, 6, 0.27), -10px -8px 0 0 rgba(245, 197, 6, 0.27);
  }

  .menu_link {
    font-size: 17px;
    line-height: 41px;
  }

  .block_content {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .block_media {
    padding: 30px 0 70px;
    position: relative;
  }
  //=================SLIDER======================
  .slider {
    margin-top: 60px;
    width: 100%;
  }
  .slides {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  #first_slide {
    display: inline-flex;
  }
  #second_slide, .slide_text {
    display: inline-flex;
  }

  .slide {
    display: inline-flex;
    /*для растяжки за границы экрана inline-flex*/
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .slide:first-child {
    /*для растяжки за границы экрана inline-flex*/
    display: inline-flex;
  }

  .slide_text {
    display: block;
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    font-size: 5.5vw;
    text-align: center;
    margin-left: 64px;
  }

  .slide_text h2 {
    color: #f5c506;
    font-size: inherit;
    font-weight: 400;
  }

  .slide_text h3 {
    color: white;
    font-weight: 400;
    font-size: inherit;
  }

  .slide_media {
    width: 50%;
  }

  .slides label {
    width: 32px;
    height: 57px;
    background: rgba(245, 197, 6, 0.7);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 0;
    outline: none;
    cursor: pointer;
    display: block;
  }

  #main_label1 {
    @include for_label;
    left: 0;
  }

  #main_label2 {
    @include for_label;
    right: 0;
  }

  #main_label1 span, #main_label2 span {
    vertical-align: -webkit-baseline-middle;
  }

  .slides input {
    display: none;
  }

  .slider_control:hover,
  .slider_control:active {
    opacity: 0.5;
  }

  #main_slide_right:checked ~ #first_slide {
    margin-left: -100%;
    transition: 0.7s;
  }

  #main_slide_left ~ #first_slide {
    margin-left: 0;
    transition: 0.7s;
  }
  //=================BLOCK ICON======================
  .block_icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .block_all_icon {
    width: 1024px;
  }
  .icons {
    height: 100%;
    text-align: center;
    width: 33%;
  }
  .icons:first-child {
    border-right: 1px #d2d0d0 solid;
    border-left: 1px #d2d0d0 solid;
  }
  .icons:not(:first-child) {
    border-right: 1px #d2d0d0 solid;
  }
  .icon_text {
    font-size: 24px;
  }
}
