@charset "UTF-8";
@media (max-width: 768px) {
  .slides > input, .slides > label {
    display: none;
  }

  #second_slide, .slide_text {
    display: none;
  }
}
@media (min-width: 768px) {
  .large_container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
  }

  .header {
    justify-content: space-between;
    align-items: flex-end;
  }

  .header_menu {
    width: 50%;
  }

  .header_logo {
    width: auto;
    max-width: 50%;
  }

  .logo {
    background: none;
  }

  .menu {
    box-shadow: -5px -4px 0 0 rgba(245, 197, 6, 0.27), -10px -8px 0 0 rgba(245, 197, 6, 0.27);
  }

  .menu_link {
    font-size: 17px;
    line-height: 41px;
  }

  .block_content {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .block_media {
    position: relative;
  }

  .slider {
    margin-top: 60px;
    width: 100%;
  }

  .slides {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  #first_slide {
    display: inline-flex;
  }

  #second_slide, .slide_text {
    display: inline-flex;
  }

  .slide {
    display: inline-flex;
    /*для растяжки за границы экрана inline-flex*/
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .slide:first-child {
    /*для растяжки за границы экрана inline-flex*/
    display: inline-flex;
  }

  .slide_text {
    display: block;
    font-family: "Asap", sans-serif;
    text-transform: uppercase;
    font-size: 5.5vw;
    text-align: center;
    margin-left: 64px;
  }

  .slide_text h2 {
    color: #f5c506;
    font-size: inherit;
    font-weight: 400;
  }

  .slide_text h3 {
    color: white;
    font-weight: 400;
    font-size: inherit;
  }

  .slide_media {
    width: 50%;
  }

  .slides label {
    width: 32px;
    height: 57px;
    background: rgba(245, 197, 6, 0.7);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 0;
    outline: none;
    cursor: pointer;
    display: block;
  }

  #main_label1 {
    position: absolute;
    top: 50%;
    border-radius: 0;
    text-align: center;
    left: 0;
  }

  #main_label2 {
    position: absolute;
    top: 50%;
    border-radius: 0;
    text-align: center;
    right: 0;
  }

  #main_label1 span, #main_label2 span {
    vertical-align: -webkit-baseline-middle;
  }

  .slides input {
    display: none;
  }

  .slider_control:hover,
.slider_control:active {
    opacity: 0.5;
  }

  #main_slide_right:checked ~ #first_slide {
    margin-left: -100%;
    transition: 0.7s;
  }

  #main_slide_left ~ #first_slide {
    margin-left: 0;
    transition: 0.7s;
  }

  .block_icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .block_all_icon {
    width: 1024px;
  }

  .icons {
    height: 100%;
    text-align: center;
    width: 33%;
  }

  .icons:first-child {
    border-right: 1px #d2d0d0 solid;
    border-left: 1px #d2d0d0 solid;
  }

  .icons:not(:first-child) {
    border-right: 1px #d2d0d0 solid;
  }

  .icon_text {
    font-size: 24px;
  }

  .block_middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: url(../images/bg_.jpg) round;
    height: 450px;
  }
  .block_middle .block_main {
    border: 1px red solid;
    max-width: 1024px;
    height: 90%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
  }
  .block_middle .block_main .middle_title {
    display: block;
    margin-left: 10px;
  }
  .block_middle .block_main .middle_title p {
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 36px;
  }

  .middle_content {
    border: 1px red solid;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 234px;
  }
  .middle_content .middle_content_upper {
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .middle_content .middle_content_upper .middle_content_text, .middle_content .middle_content_upper .middle_content_video {
    width: 32%;
    height: 70%;
  }
  .middle_content .middle_content_upper .middle_content_text.middle_content_text_info, .middle_content .middle_content_upper .middle_content_video.middle_content_text_info {
    width: 85%;
  }
  .middle_content .middle_content_upper .middle_content_text .middle_content_text_plus, .middle_content .middle_content_upper .middle_content_video .middle_content_text_plus {
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: white;
  }
  .middle_content .middle_content_twitter {
    width: 32%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 40px;
    background: orange;
  }
  .middle_content .middle_content_twitter_counter {
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
  .middle_content .middle_content_twitter_logo {
    width: 92%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .middle_content_calendar {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
    height: 70px;
    background: rgba(236, 174, 0, 0.97);
    margin-top: -9%;
  }
  .middle_content_calendar_date {
    text-align: center;
  }
  .middle_content_calendar_date p {
    color: white;
    font-size: 44px;
    font-weight: bold;
  }
  .middle_content_calendar_month {
    text-align: center;
  }
  .middle_content_calendar_month p {
    color: rgba(145, 97, 0, 0.97);
    font-size: 16px;
    text-transform: uppercase;
  }

  .middle_slider-controls {
    display: inline-block;
    width: 100%;
    max-width: 900px;
    height: 30px;
    order: 2;
  }

  label {
    display: inline-block;
    width: 25%;
  }

  #label1, #label2, #label3, #label4 {
    position: absolute;
    top: 95%;
  }

  #label2 {
    left: 25%;
  }

  #label3 {
    left: 50%;
  }

  #label4 {
    left: 75%;
  }

  label {
    width: 24%;
    height: 15px;
    background: rgba(228, 228, 221, 0.97);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
  }

  label:hover {
    background: darkorange;
    outline: orange;
    transition: 0.2s;
  }

  #slide1:checked ~ #label1 {
    background: darkorange;
  }

  #slide2:checked ~ #label2 {
    background: darkorange;
  }

  #slide3:checked ~ #label3 {
    background: darkorange;
  }

  #slide4:checked ~ #label4 {
    background: darkorange;
  }

  .middle_main > input {
    display: none;
  }

  .middle_main_slide1 {
    height: inherit;
    width: 1024px;
  }

  .middle_slide:not(:first-child) {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    height: inherit;
  }

  .middle_slide {
    max-width: 1024px;
  }

  .middle_slider {
    width: 400%;
    height: 96%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    order: 1;
  }

  #slide1:checked ~ #slider {
    left: 0;
    transition: 0.7s;
  }

  #slide2:checked ~ #slider {
    left: -100%;
    transition: 0.7s;
  }

  #slide3:checked ~ #slider {
    left: -200%;
    transition: 0.7s;
  }

  #slide4:checked ~ #slider {
    left: -300%;
    transition: 0.7s;
  }

  input {
    display: none;
  }

  .twitter {
    display: none;
  }
}
@media (max-width: 1024px) {
  .middle_content_calendar {
    margin-top: -7%;
  }
}

/*# sourceMappingURL=media.css.map */
