* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
$border: 1px red solid;

@mixin flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
//$max-width-conten@mixin flex-row{
//  display: flex;
//  flex-direction: row;
//  flex-wrap: nowrap;
//}t : 1024px;

body {
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
/*-----------------BLOCK FIRST MEDIA-------------------*/

.block_first{
  background: url(../images/Layer_20.png) center top/cover no-repeat;
}
.header{
  @include flex-row;
}
.logo {
  background: #4c4c4c;
}
.header_logo {
  width: 25%;
}
.header_menu {
  width:75%;
}
.logo_link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
}
.logo_img {
  max-width: 100%;
}

.menu {
  @include flex-row;
  list-style-type: none;
  background: #f5c506;
}
.menu_item {
  width: calc(100% / 3);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.menu_item:first-child {
  border-left-color: transparent;
}
.menu_link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #9b7d08;
  font-weight: 200;
  font-size: 3.8vw;
}
.video {
  padding-top: 56.25%;
  position: relative;
}

.video_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*-----------------BLOCK ICON -------------------*/
.block_icon {
  background: #f2f0f0;
}
.block_all_icon {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.icons {
  text-align: center;
  width: 33%;
}
.icons > img {
  width: 60px;
  height: 46px;
  margin: 10px 0;
}
.icon_text {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4%;
}
/*-----------------BLOCK  MIDDLE-------------------*/
.block_middle{
  width: 100%;
  height: 180px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block_main {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.middle_title {
  display: none;
}
.middle_content_calendar {
  display: none;
}

.middle_slider-controls {
  display: none;
}

.middle_slide:not(:first-child) {
  display: none;
}

.block_main > input {
  display: none;
}
.middle_content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.middle_content_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle_content_text {
  width: 49%;
  height: 100%;
  background: orange;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.middle_content_twitter {
  display: none;
}

.middle_content_text_info {
  width: 85%;
  font-family: Helvetica, 'Segoe UI', Arial, sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.middle_content_text_plus {
  width: 15%;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  color: white;
}

.middle_content_video {
  width: 49%;
  height: 100%;
}

.middle_content_video iframe {
  width: 100%;
  height: 100%;
}
/*-----------------BLOCK  MIDDLE SLIDES-------------------*/
.middle_slider-controls {
  display: none;
}

.middle_slide:not(:first-child) {
  display: none;
}

.middle_main > input {
  display: none;
}
/*-----------------BLOCK TWITTER -------------------*/
.block_twitter {
  width: 100%;
  background: #efdd00;
  @include flex-row;
  justify-content: space-around;

  &_logo_twit {
    background: url("../images/twitter_logo.png")center;
    background-size: 100px;
  }

  &_logo_twit{
    width: 43%;
    height: 100%;
    background: transparent;
  }

  &_twitter_messages {
    width: 43%;
    height: 100%;
    background: transparent;
  }
}




/*-----------------BLOCK FREE FINAL -------------------*/